.product {
  color: black;
  padding-bottom: 20px;
}
.product__detail {
  padding: 50px;
}
.share {
  width: fit-content;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: lightcoral;
  color: white;
  cursor: pointer;
}
